<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.serviceModel>

    <client>

      <endpoint name="dynamicInventoryService"
                kind="dynamicEndpoint"
                binding="netTcpBinding"
                contract="Demo.Client.Contracts.IInventoryService" />

    </client>

    <services>
      <service name="System.ServiceModel.Discovery.AnnouncementService">
        <endpoint kind="udpAnnouncementEndpoint" />
      </service>
    </services>

    <bindings>
      <netTcpBinding>
        <binding maxReceivedMessageSize="2000000"
                 transactionFlow="true">
          <reliableSession enabled="false" />
        </binding>
      </netTcpBinding>
    </bindings>

  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0"
                      sku=".NETFramework,Version=v4.5.2" />
  </startup>

</configuration>